html {
    font-family: 'Helvetica', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    color: white;
    background: linear-gradient(to right, darkcyan, darkslateblue);

    overflow-x: hidden;
}


h1 {
    font-size: 5vh;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 2;
    
    background-color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: bolder;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 450px;
    height: 300px;
    margin: 21.44px;
    
    z-index: 1;
    
    border-radius: 15px;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(20px);
    box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.3);

    cursor: pointer;
}

.news-in-year {
    display: flex;
    justify-content: center;

}

hr {
    width: 100vw;
    border: white solid 0.4px;

    margin: 0;
}

.news-in-year p {
    margin-top: 21.44px;
    text-align: center;
    color: #c7c4c4f5;
    background-color: black;
    font-size:x-small;
}

.hidden {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news-title {
    font-size: 20px;
    text-align: center;
    margin: 5px;
    font-weight: normal;
}

.news-author {
    font-size: 10px;
    font-weight: lighter;
}

.news-content {
    margin: 2px 10px;
    font-weight: normal;
}